<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="50"
    alt="Angular Logo"
    src="../assets/img/logo.png"
  />
  <span>La raie-création</span>
    <div class="spacer"></div>
  <a aria-label="rdv" target="_blank" rel="noopener" href="" title="Rendez-vous">
    <p>Prendre un rendez-vous</p>
  </a>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="row">
    <h1>La raie-création</h1>
    <img src="../assets/img/coiffeur.jpeg">
  </div>

  
<router-outlet></router-outlet>